


@media  screen and (max-width:480px){

    .container1{
        display: block !important;
        height: 100px;
        max-width: 100%;

        /* background-color: red !important ; */

    }
    .container2{
        background-color:aqua ;
    }
i{
    font-size: 10px !important;
    margin-left: 10px !important;
    
}
.fa-phone{
    float: left !important;
    margin-left: 20px !important;
    margin-top: 10px;
}
.fa-facebook{
    margin-left: 20px !important;
}

.fa-location-arrow{
    margin-left: 10px !important;
    

}
 .a{

        color: lightgray;
        font-family: Arial, Helvetica, sans-serif;
        font-size:9px !important;
        text-decoration: none ;
     


      }



.container2{
    max-width: 100% !important;
    height: 80px !important;
}
    .fa-fort-awesome{
        font-size: 30px !important;

    }

    .text-1{
        font-size: 15px !important;
    }
    .text-2{
        font-size: 7px !important;
    }

    /* .fa-user{

    } */

.read{
    color: #ffcc00 !important;
}

    .container3{
        position: sticky !important;
    
    }
.text-3{
    font-size: 9px !important;
    white-space: nowrap !important;
    margin-top: -2px !important; 
}


.fa-download{
    
    margin-left: 1200px !important;
    font-size: 5px !important;
    margin-left: 0px !important;
   display: none;
}
.a2 {
   
    margin-left: -85px;
    padding-left: -200px !important;
    padding: 4px !important;
    padding-left: -100px !important;
    font-size: 5px !important;
  
}



.link-1{
    font-size: 9px !important;
    white-space: nowrap !important;
    margin-left: 5px !important;
    
}



.link-2{
    font-size: 8px !important;
    margin-left: 10px !important;
    white-space: nowrap !important;
   
}
.link-3{
  padding: 6px !important;
  text-align: center;
  margin-left: 5px !important;
}

.fa-search{
  margin-top: 20px;
    font-size: 7px !important;

   

}

.img-1{
   
  width: 100%;     
    height: 200px !important;   
    object-fit: cover;
      
}

.p-1{
    font-size: 20px !important;
    white-space: nowrap !important;
    margin-top: 10px !important;
    top: 200px !important;
    left: 10px !important;
    line-height: 30px !important;
}

.p-2{
    font-size: 6px !important;
      top: 270px !important;
    left: 10px !important;
    line-height: 15px !important;

}


.btn-1{
    margin-top:-260px !important;
    top: 300px;
}
.a2{
    font-size: 7px !important;
}

.a3{
    font-size: 8px !important;
    padding: 4px !important;
    margin-left: 10px !important;
}


.p-3{
    font-size: 16px !important;
    white-space: nowrap;
    margin-left: -100px !important;
}


.span-1{
    height: 50px !important;
    margin-left: 10px !important;
}

.p-1-2-1{
    font-size: 5px !important;
    white-space: nowrap !important;
    margin-left: 10px !important;
    margin-top: -15px !important;
    line-height: 13px !important;
}

.fourth-port{
    margin-top: -100px !important;
}

.p-1-1{
    font-size:20px !important;
}



.p-1-2{
    
    font-size: 10px  !important;
    margin-left: 100px !important;
    white-space: nowrap !important;
}

.card-1{
    margin-left: 50px  !important;
}


.fifth{
    margin-left: 10px !important;
    margin-top: 690px !important;
    
}

.new{
    font-size: 15px  !important;
}
.p-1-1-c{
    margin-left: 100px !important;
    margin-top: 200px !important;

}

.span-2{
    margin-left: 100px !important;
}

.fa-fire{
    margin-left: -40px !important;
}

.fire-1{
    margin-left: -460px !important;
}


.fire-2{
    margin-left: -870px !important;
}


.sixth{
    margin-left: -40px !important;
    margin-top: 50px !important;
height: 500px !important;
}

.seventh{
    margin-top: 50px !important;
    padding-bottom: 50px  !important;;
}


.eighth{
    float: none;
  margin-top: 0px !important;
  padding-bottom: 150px !important;
    
    margin-left: 100px  !important;
}
.eighth-1{
    margin-top: 0px !important;
}
.eighth-2{
    float: none;
    
    
}


.p-3{
    float: none;
}


.link-10-div{


    
    position: absolute !important;
    margin-top: 60px;
    margin-left: -80px !important;
    font-size: 8px !important;
    
}

.anim{
    margin-top: -25px !important;
}

.a-10{
    margin-left: 15px !important;
}


.span-3{
    margin-top: 50px !important;
}

.mirror{
    margin-left: 60px !important;
    margin-top: 80px !important;
    float: none;

}

.mirror-div{
    height: 1300px !important;
}

.mirror-1{
    
    position: absolute;
    top: 3180px !important;
    left: -90px !important;
    float: none;
    margin-left: 150px !important;
    margin-top: 10px !important;

}



.pp-1{
    margin-left: 130px !important;

}
.span-4{
    margin-left: 110px !important;
}
.hr-1-1{
    margin-left: 0px !important;
    width: 200px !important;
}

.history{
    font-size: 10px !important;
    margin-left: 20px !important;
}

.history-1{
    margin-left: 10px !important;
}

.read{
    margin-left: 10px !important;
    color: gray !important;
}
.body-2{
   width: 390px !important;
    margin-left: 0px !important;
    float: none !important;
    position: absolute !important;
    top: 4200px !important;
    left: 10px !important;
    padding-bottom: 200px !important;
}
.body-1{
    margin-top: 300px !important;
}

.review{
    margin-left: 0px !important;
    font-size: 18px !important;
}

.more-link{
    font-size: 9px !important;
}
.avatar{
    margin-left: -15px !important;
}

.quote-icon{
    top:4820px !important;
}
.quote-icon-1{
   left: -20px !important;
   margin-top: 350px !important;
    z-index: 1;
}











































}